---
layout: base
body_id: interior-page
---
<div id="header">
  <ul>
    <li>
      <a class="core-nav icon-twitter" href="http://www.twitter.com/cmtbonifacio" title="C. Bonifacio on Twitter"></a>
    </li>
    <li>
      <a class="core-nav icon-instagram" href="https://instagram.com/cmtbonifacio/" title="C. Bonifacio on Instagram"></a>
    </li>
    <li>
      <a class="core-nav icon-pinterest" href="https://pinterest.com/cmtbonifacio/" title="C. Bonifacio on Pinterest"></a>
    </li>
    <li>
      <a class="core-nav icon-quill-2" href="http://cmtbonifacio.wordpress.com" title="Sanket Parmar - Blog"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="http://github.com/cmtbonifacio" title="Charmaine Bonifacio on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-info-2" href="http://about.me/cmtbonifacio" title="About Charmaine Bonifacio"></a>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search cmtbonifacio.me"></a>
    </li>
  </ul>
  <div style="clear:both"></div>
  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="000027791690556223620:iqrc3ybapvq" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
  </div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>
